h1 {
  color: black;
  }
  
body {
  background: url("/home-images/pexels-johannes-plenio-1423600.jpg") no-repeat;
  height: calc(100vh - 74px);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 74px;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }